/* Colors */
:root {
  --clr-60: 0, 0%, 5%;
  --clr-30: 0, 0%, 98%;
  --clr-10: 38, 55%, 53%;
}

/* Dimension */
:root {
  --dim-border-radius: 0.35rem;
  --dim-min-height: 640px;
  --dim-min-width: 280px;
}
